<% layout("/layouts/boilerplate") %> 
<body> 
    <div class="row mt-3"> 
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a New Listing:-> </h3>
            <form action="/listings" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" id="title" class="form-control" required> 
                    <div class="valid-feedback">Title looks Good</div>
                    <div class="invalid-feedback">Please enter a catchy Title</div>
                </div> 
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Description" class="form-control" id="desc" required></textarea>
                    <div class="valid-feedback">description is okay</div>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]"  class="form-control" id="image" required>
                    
                </div>  
                <div class="mb-3"> 
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example" name="listing[category]" required> 
                        <option name="trending" value="trending">Trending</option>
                        <option name="room" value="room">Rooms</option>
                        <option name="city" value="city">Iconic-cities</option>
                        <option name="mountain" value="mountain">Mountains</option>
                        <option name="castle" value="castle">Castles</option>
                        <option name="pool" value="pool">Amazing pools</option>
                        <option name="camp" value="camp">Camping</option>
                        <option name="farm" value="farm">Farms</option>
                        <option name="arctic" value="arctic">Arctic</option>
                        <option name="beach" value="beach">Beach</option>
                    </select> 
                    <div class="invalid-feedback">Category can not have empty value!</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="Price in rupees" class="form-control" id="price" required > 
                        
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter Country" class="form-control" id="country" required> 
                        <div class="invalid-feedback">country name should be valid</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" id="location" required> 
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-dark add-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>